PORT=3013
JOB_SYSTEM_DELAY=3000
JOB_MANAGER_DELAY=15000
JOB_OPERATOR_DELAY=20000
JOB_RISKY_DELAY=60000
JOB_SLOW_DELAY=60000

API_MONITORING_P95_THRESHOLD_MS=800
API_MONITORING_P99_THRESHOLD_MS=1500
API_MONITORING_SLOW_QUERY_THRESHOLD_MS=1200

ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD="Demo3543##"
ELASTICSEARCH_NAME=simple-jobs-node-fastify-with-mdc
ELASTICSEARCH_ENV=local
ELASTICSEARCH_BATCH_MAX_BYTES=1000000
ELASTICSEARCH_BATCH_FLUSH_INTERVAL=1
ELASTICSEARCH_BATCH_QUEUE_SIZE=8192
ELASTICSEARCH_BULK_OPERATION=create
ELASTICSEARCH_TRUST_ALL_SSL=true
ELASTICSEARCH_TIMEOUT=10
ELASTICSEARCH_MAX_RETRIES=3
ELASTICSEARCH_REQUEUE_ON_FAILURE=true
ELASTICSEARCH_HEADERS={}
ELASTICSEARCH_PERSISTENT_WRITER_THREAD=true
