<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <springProperty scope="context" name="ELASTICSEARCH_ENV" source="elasticsearch.env" defaultValue="local"/>
    <springProperty scope="context" name="ELASTICSEARCH_NAME" source="elasticsearch.name" defaultValue="app"/>
    <springProperty scope="context" name="ELASTICSEARCH_URL" source="elasticsearch.url" defaultValue="http://localhost:9200"/>
    <springProperty scope="context" name="ELASTICSEARCH_USER" source="elasticsearch.username" defaultValue="admin"/>
    <springProperty scope="context" name="ELASTICSEARCH_PASS" source="elasticsearch.password" defaultValue=""/>
    <springProperty scope="context" name="ELASTICSEARCH_MAX_BATCH_SIZE" source="elasticsearch.batch.max-size" defaultValue="200"/>
    <springProperty scope="context" name="ELASTICSEARCH_MESSAGE_MAX_SIZE" source="elasticsearch.batch.max-message-size" defaultValue="32768"/>
    <springProperty scope="context" name="ELASTICSEARCH_CONNECT_TIMEOUT" source="elasticsearch.connect-timeout-millis" defaultValue="3000"/>
    <springProperty scope="context" name="ELASTICSEARCH_READ_TIMEOUT" source="elasticsearch.read-timeout-millis" defaultValue="5000"/>
    <springProperty scope="context" name="ELASTICSEARCH_MAX_RETRIES" source="elasticsearch.max-retries" defaultValue="3"/>
    <springProperty scope="context" name="ELASTICSEARCH_REQUEUE_ON_FAILURE" source="elasticsearch.requeue-on-failure"          defaultValue="true"/>
    <springProperty scope="context" name="ELASTICSEARCH_TRUST_ALL_SSL" source="elasticsearch.trust-all-ssl" defaultValue="true"/>
    <springProperty scope="context" name="ELASTICSEARCH_SLEEP_TIME" source="elasticsearch.sleep-time" defaultValue="250"/>
    <springProperty scope="context" name="ELASTICSEARCH_MAX_QUEUE_SIZE" source="elasticsearch.max-queue-size" defaultValue="104857600"/>
    <springProperty scope="context" name="ELASTICSEARCH_PERSISTENT_WRITER_THREAD" source="elasticsearch.persistent-writer-thread" defaultValue="false"/>
    <springProperty scope="context" name="ELASTICSEARCH_INCLUDE_MDC" source="elasticsearch.include-mdc" defaultValue="true"/>
    <springProperty scope="context" name="ELASTICSEARCH_INCLUDE_KVP" source="elasticsearch.include-kvp" defaultValue="true"/>
    <springProperty scope="context" name="ELASTICSEARCH_OPERATION" source="elasticsearch.operation" defaultValue="index"/>
    <springProperty scope="context" name="ELASTICSEARCH_ERRORS_TO_STDERR" source="elasticsearch.errors-to-stderr" defaultValue="true"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/%d{yyyyMMddHH}-${ELASTICSEARCH_NAME}.log</fileNamePattern>
            <maxHistory>168</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ELASTICSEARCH" class="com.cube.elasticsearch.ElasticsearchAppender">
        <url>${ELASTICSEARCH_URL}</url>
        <index>logs-${ELASTICSEARCH_NAME}-%date{yyyy.MM.dd}</index>
        <operation>${ELASTICSEARCH_OPERATION}</operation>
        <authentication class="com.cube.elasticsearch.ElasticsearchBasicAuthentication">
            <username>${ELASTICSEARCH_USER}</username>
            <password>${ELASTICSEARCH_PASS}</password>
        </authentication>
        <maxBatchSize>${ELASTICSEARCH_MAX_BATCH_SIZE}</maxBatchSize>
        <maxMessageSize>${ELASTICSEARCH_MESSAGE_MAX_SIZE}</maxMessageSize>
        <sleepTime>${ELASTICSEARCH_SLEEP_TIME}</sleepTime>
        <maxQueueSize>${ELASTICSEARCH_MAX_QUEUE_SIZE}</maxQueueSize>
        <connectTimeout>${ELASTICSEARCH_CONNECT_TIMEOUT}</connectTimeout>
        <readTimeout>${ELASTICSEARCH_READ_TIMEOUT}</readTimeout>
        <maxRetries>${ELASTICSEARCH_MAX_RETRIES}</maxRetries>
        <requeueOnFailure>${ELASTICSEARCH_REQUEUE_ON_FAILURE}</requeueOnFailure>
        <trustAllSsl>${ELASTICSEARCH_TRUST_ALL_SSL}</trustAllSsl>
        <persistentWriterThread>${ELASTICSEARCH_PERSISTENT_WRITER_THREAD}</persistentWriterThread>
        <includeMdc>${ELASTICSEARCH_INCLUDE_MDC}</includeMdc>
        <includeKvp>${ELASTICSEARCH_INCLUDE_KVP}</includeKvp>
        <errorsToStderr>${ELASTICSEARCH_ERRORS_TO_STDERR}</errorsToStderr>

        <headers>
            <header>
                <name>Content-Type</name>
                <value>application/x-ndjson</value>
            </header>
        </headers>

        <properties>
            <esProperty>
                <name>app</name>
                <value>${ELASTICSEARCH_NAME}</value>
            </esProperty>
            <esProperty>
                <name>env</name>
                <value>${ELASTICSEARCH_ENV}</value>
            </esProperty>
            <esProperty>
                <name>stack_trace</name>
                <value>%ex{full}</value>
                <allowEmpty>false</allowEmpty>
            </esProperty>
        </properties>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="ELASTICSEARCH"/>
    </root>

</configuration>
